//box-colors:
$box-light: #c47631;
$box-dark: rgba(41, 42, 41, 0.6);

// text-colors:
$title-light: #ff7c29;
$title-dark: #ec4407;

// various-colors:
$color-positive: #4CAF50;
$color-negative: #f51a0a;
$color-neutral: #ff7c29;
$color-vibrant: #ec4407;
$color-text-light: #ffffff;
$color-background-light: #939490;
$color-background-medium: #747674fb;
$color-background-dark: #5C5D59;



//button-variables:
$btn-border-radius: 10px;
$btn-padding: 12px 20px;

// transitions/animations:
$transition-default: 0.3s ease;
$transtion-fast: 0.10s ease;